<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditions</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    
    <!-- 
        -- conditionsların doğru bir şekilde çalışabilmesi için aynı seviyede yazılmış olduklarına dikkat edilmelidir

        -- v-show ile de şarta bağla bir gösterim yapabiliriz fakat bu şekilde yaptığımızda yalnızca style özelliğini none yaparak açıp kapama işlemi gerçekleştirecektir

        -- v-if yapısı elementi tamamen DOM üzerinden kaldırmaktadır ya da eklemektedir
     -->

    <div id="app" class="container">
        <button class="btn btn-sm btn-success mt-4" @click="showContainer = !showContainer">Aç / Kapat</button>
        <h3 v-if="!showContainer" class="tetx-danger">Başlangıçta Gözükecek</h3>
        <h3 v-else class="text-primary">Sonradan Gözükecek</h3>

        <hr>

        <h4 :class="counterBoxClass">{{ counter }}</h4>
        <button class="btn btn-sm btn-primary" @click="counter++">Artır</button>
        <button class="btn btn-sm btn-danger" @click="counter--">Azalt</button>
        <h5 v-if="counter > 0" class="text-success mt-2">Counter Pozitif</h5>
        <h5 v-else-if="counter < 0" class="text-danger mt-2">Counter Negatif</h5>
        <h5 v-else class="mt-2">Counter 0</h5>

        <hr>

        <h4>{{ counter2 }}</h4>
        <button class="btn btn-sm btn-primary" @click="counter2++">Artır</button>
        <button class="btn btn-sm btn-danger" @click="counter2--">Azalt</button>
        <h5 v-show="counter2 > 0" class="text-success mt-2">Counter Pozitif</h5>
        <h5 v-show="counter2 < 0" class="text-danger mt-2">Counter Negatif</h5>
        <h5 v-show class="mt-2">Counter 0</h5>

    </div>
    
    <script src="app.js"></script>
</body>
</html>